/* Font Family */
@font-face {
  font-family: 'Calibre-Regular';
  src: url('./Calibre-Regular.woff') format('woff');
}

/* General Styling */
body {
  background-color: #ededef;
}

h1,
h3,
p {
  font-family: 'Calibre-Regular', sans-serif;
}

h3 {
  font-size: 16px;
  color: #656666;
  font-weight: 400;
  letter-spacing: 0.086em;
}

img {
  height: 72px;
  width: 72px;
  border-radius: 50%;
}

polygon {
  transform-origin: 0px 0px 0px;
  transform: none;
}
/* Class Styling */

.reviews-section {
  margin: 40px auto 0 auto;
  display: flex;
  justify-content: space-around;
  padding-left: 32px;
}

.reviews-container {
  font-size: 16px;
  padding: 20px;
  flex: 2;
  background-color: #ffffff;
  box-sizing: border-box;
  margin-bottom: 20px;
  width: 30%;
}

.reviews {
  display: flex;
  flex-flow: row wrap;
}

.reviewDetails {
  flex: 3;
}

.imageContainer {
  flex: 1;
}
.reviewName,
.reviewText {
  font-family: 'Calibre-Regular', sans-serif;
  font-size: 15px;
  line-height: 20px;
  color: #101820;
}

.reviewDate {
  font-family: 'Calibre-Regular', sans-serif;
  font-size: 15px;
  line-height: 20px;
  color: #656666;
}

.google-container > h3 {
  padding-bottom: 34px;
}
.logo {
  color: #9c0029;
  font-size: 80px;
}

.contactPlaceholder {
  padding: 20px;
  box-sizing: border-box;
  margin-bottom: 20px;
  width: 30%;
  flex: 1;
}
